html, body {
    height: 100%;
}
body {
    margin: 0;
    color: #555;
    font-family: sans-serif; 
}
svg {
    height: 1.5em;
    fill: #313131;
    cursor: pointer;
}

#content {
    height: 100%;
    padding: 4em 1em;
    max-width: 50em;
    line-height: 1.5;
    margin: 0 auto;
    text-align: justify; 
    text-justify: inter-word;
}

strong {
    color: #333;
}


.toggle-icon {
    display: inline-block;
}

.container {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.bg {
    background: linear-gradient(137deg, rgba(0,56,164,1) 0%, rgba(0,47,198,1) 5%, rgba(190,134,255,1) 77%);
}

.text-box {
    padding: 0;
    display: block;
    margin-bottom: 5px;
    height: 3em;
    width: 20em;
    color: #555;
    background-color: #f6eaff;
    border: none;
    border-bottom: 1px solid #d400ff;
    transition: 0.6s cubic-bezier(0.33, 1, 0.68, 1);
    margin-bottom: 3px;
    padding-left: 5px;
}

.text-box:focus {
    outline: none;
    background-color: #e9d7f8;
    
}

.text-box:disabled {
    background-color: #d6d2da;
}

#login-container {
    background-color: #fff;
    padding: 1em 4em;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.15) 5.95px 5.95px 7.6px;
    width: auto;
}

@media (max-width: 600px) {
    .text-box {
        width: 100%;   
    }
}

.spacer {
    display: flex;
    margin-bottom: 1em;
    justify-content: space-between;
}

.button {
    background-color: #8419ff;
    color: #fff;
    font-weight: bold;
    font-size: 0.8em;
    border-radius: 5px;
    border: none;
    padding: 0.6em;
    transition: 0.6s cubic-bezier(0.33, 1, 0.68, 1);
    cursor: pointer;
}

.button:hover {
    background-color: #7907fc;
}

.button:disabled {
    background-color: #300066;
    cursor: default;
}

.warining-alert {
    color: #ff0062;
    font-size: smaller;
}

p.message {
    /*background-color: #dedeffb9;*/
    background-color: #ffffffd8;
    box-shadow: 0px 0px 2px 2px #fff;
    backdrop-filter: blur(1px);
    position: absolute;
    margin-block: 0;
    padding: 0.6em 0;
    width: 100%;
    display: none;
    z-index: 100;
    
}

.text-box:focus + p.message{
    display: block;
}

p.message:empty {
    padding: 0;
    box-shadow: none;
}

.dropdown {
    position: relative;
}

