<script defer src="/scripts/home.js"></script>
<nav class="navbar is-info" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
        <a href="/" class="navbar-item">
            <img src="/images/instant-noodles.png" alt="recetas peblo">
        </a>
        <h1 class="is-size-3 my-2">RecetasForaneas.com</h1>
        <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample" onclick="toggleMenu()">
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
        </a>
    </div>
    <div id="nav-menu" class="navbar-menu">
        <div class="navbar-end">
            <a href="/recetas/crear" class="navbar-item">Creador de recetas</a>
            <a href="/preguntas" class="navbar-item">Preguntas lab12</a>
            <a href="/login" class="navbar-item">Acceder</a>
            <a href="/signup" class="navbar-item">Registrarse</a>
        </div>
    </div>
</nav>
